* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #6e6e5b;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body > div {
  background-color:#d3d3d3;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
}

button {
  padding: 0.5rem;
}

#__main {
  margin: 0.5rem auto;
  padding: 0.5rem;
  overflow-y: auto;
  flex-grow: 1;
}

#__add {
  width: 12%;
  float: right;
}

#__name {
  width: 88%;
  padding: 0.5rem;
}

#__main > div {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #fffff0;
  border: #b6aa00 solid;
  border-width: 1px 0;
}

.note-name {
  flex-grow: 1;
  align-self: center;
  margin: 0.25rem 0.5rem 0 0.5rem;
  font-size: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.note-body {
  margin-top: 0.25rem;
  padding: 0.5rem;
  min-width: 100%;
  max-width: 100%;
  min-height: 3rem;
  overflow-y: auto;
  font-size: 1.3rem;
}

.flex {
  display: flex;
}

.flex textarea {
  flex-grow: 1;
}